#text-animation{
    font-size: 60px;
    background-image: linear-gradient(to right, orangered,#ed8600, #f4a610, orangered);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#text{
    font-size: 45px;
    background-image: linear-gradient(to right,red, orangered,yellow, #ffa601, orangered);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}