.shade4{
    position: absolute;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to right, #f4a910, #ed8600);
    top: 0;
    left: 45%;
    filter: blur(50px);
    z-index: -1;
}