#shade5{
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(to right, #f4a910, #ed8600);
    top: 0;
    filter: blur(100px);
    z-index: -1;
}
#shade6{
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(to right, #f4a919, #ed8600);
    top: 50%;
    left: 60%;
    filter: blur(190px);
    z-index: -1;
}